/* GAME CENTER */
#gamecenter {
	top: 0;
	height: 100%;
	display: none;
	position: fixed;
	z-index: 10;
	color: black;
	width: 100%;
	background-color: #93D4F3;
}

#gamecenter #gamebox {
	top: 0;
	height: 100%;
	position: fixed;
	z-index: 10000;
	color: #000000;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

#gamecenter #gamebox .box-header {
	width: 90%;
	height: 50px;
	margin: auto;
	margin-top: 7%;
	margin-right: 75px;
}

#gamecenter #gamebox .box-header .title {
	color: #BEBFC1;
	font-size: 12px;
	font-weight: bold;
	margin-left: 30%;
	margin-bottom: -3px;
}

#gamecenter #gamebox .box-header .desc {
	color: white;
	font-size: 25px;
	font-weight: bold;
	margin-left: 30%;
}

#gamecenter #gamebox .box {
	width: 600px;
	height: 450px;
	background-color: #E2E2E2;
	border-radius: 5px;
	margin: auto;
	margin-top: 3px;
	box-shadow: 50px 0px 100px black;
	background-image: url(../images/gamecenter/1.png);
	background-position: bottom right;
	padding: 75px;
}

#gamecenter #gamebox .title {
	font-size: 15px;
	font-weight: bold;
	color: #0f0f0f;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

#gamecenter #gamebox p {
	font-size: 12px;
}